<table class="table">
    <tbody>
        <tr>
            <td>Connection type</td>
            <td>{{ product.connection_type }}</td>
        </tr>
        <tr>
            <td>Headphones fastening</td>
            <td>{{ product.fastening }}</td>
        </tr>
        <tr>
            <td>Speaker frequency</td>
            <td>{{ product.speaker_freq }}</td>
        </tr>
        <tr>
            <td>Battery life</td>
            <td>{{ product.battery }}</td>
        </tr>
    </tbody>
</table>
